[Unit]
Description=Ollama Server (Docker)
After=network.target docker.service
Requires=docker.service

[Service]
Restart=always
WorkingDirectory=/home/tom/.config/containers/ollama
ExecStart=/usr/bin/docker compose up
ExecStop=/usr/bin/docker compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target